<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="stafflist-card-grid">
    <ul class="ch-grid">
    <f:for each="{persons}" as="person-item" iteration="iterator">
        <f:render section="image-grid-item"
                  arguments="{person-item: person-item, settings:settings, className:className, view:'list'}"/>
    </f:for>
    </ul>
</section>

<f:section name="image-grid-item">
        <li>
            <div class="ch-item ch-img" {f:render(partial: 'Fields/BackgroundImage', arguments: {person-item: person-item})}>
                <div class="ch-info" >
                    <h3><f:render partial="Fields/Fullname" arguments="{person-item: person-item, settings:settings}"/></h3>
                    <p><f:render partial="Fields/List/Function" arguments="{person-item: person-item, settings:settings}"/><f:render partial="Fields/List/Functions" arguments="{person-item: person-item, settings:settings}"/></p>
                </div>
            </div>
        </li>
</f:section>
</html>
