<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:for each="{persons}" as="person-item" iteration="oddEvenIterator">
	<!--f:debug>{person-item.avatar.Uid}</f:debug-->
	<f:render section="card" arguments="{person-item: person-item, settings:settings, oddEvenIterator:oddEvenIterator, className:className, view:'list'}"/>
</f:for>

<f:section name="card">
	<div class="stafflist-item{f:if(condition: oddEvenIterator.isEven, then: '')}{f:if(condition: oddEvenIterator.isOdd, then: ' alt')}">
		<f:if condition="{person-item.avatar} && {settings.showimages}">
		<div class="meta">
			<div class="photo" style="background-image: url({f:uri.image(src: '{person-item.avatar.Uid}', treatIdAsReference:1)})"></div>
		</div>
		</f:if>
		<div class="{f:if(condition: '{person-item.avatar} && {settings.showimages}', then: 'description', else: 'descriptionnophoto')}">
			<span class="stafflist-title"><f:render partial="Salutation" arguments="{person-item: person-item, space:0}"/>{person-item.title}</span>
			<f:if condition="{settings.linkNamesToSingleView}">
				<f:then><a href="#"><h3>{person-item.firstname} {person-item.lastname}</h3></a></f:then>
				<f:else><h3>{person-item.firstname} {person-item.lastname}</h3></f:else>
			</f:if>
			<p class="stafflist-title">{person-item.function}</p>
			<p>{person-item.building} <f:if condition="{person-item.room}"><f:translate key="tx_stafflist_domain_model_persons.room" />: {person-item.room}</f:if></p>
			<f:if condition="{person-item.phone}"><p><f:translate key="tx_stafflist_domain_model_persons.phone" />: <a href="tel:{person-item.phone}">{person-item.phone}</a></p></f:if>
				<f:if condition="{person-item.mobile}"><p><f:translate key="tx_stafflist_domain_model_persons.mobile" />: <a href="tel:{person-item.mobile}">{person-item.mobile}</a></p></f:if>
					<f:if condition="{person-item.email}"><p><f:translate key="tx_stafflist_domain_model_persons.email" />: <f:link.email email="{person-item.email}">{person-item.email}</f:link.email></p></f:if>
			<f:render partial="Socials/SocialLinks" arguments="{person-item:person-item}" /> 
			<f:if condition="{settings.doNotLinkToDetailView} == 0">
			<p class="read-more">
				<a href="#"><button class="stafflist-button"><f:translate key="tx_stafflist_list_readMore" /></button></a>
			</p>
		</f:if>
		</div>
	</div>
</f:section>
</html>
