<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:for each="{persons}" as="person-item" iteration="iterator">
	<f:if condition="{iterator.isFirst}">
		<div class="stafflist-row">
	</f:if>

	<f:if condition="{iterator.cycle} % 3">
		<f:then>

			<f:render section="card" arguments="{person-item: person-item, settings:settings, className:className, view:'list'}"/>

		</f:then>

		<f:else>

			<f:render section="card" arguments="{person-item: person-item, settings:settings, className:className, view:'list'}"/>

			<f:if condition="{iterator.isLast}">
				<f:then></f:then>
				<f:else>
					</div><div class="stafflist-row">
				</f:else>
			</f:if>
		</f:else>
	</f:if>

	<f:if condition="{iterator.isLast}">
		</div>
	</f:if>
</f:for>
</html>
<f:section name="card">
	<div class="stafflist-column">
		<div class="stafflist-card">
			<f:if condition="{person-item.avatar}">

				<f:image image="{person-item.avatar.originalResource}" class="stafflist-image"/>


			</f:if>
		</div>

	</div>
</f:section>
