<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="stafflist-container-list">
<f:for each="{persons}" as="person-item" iteration="oddEvenIterator">

	<f:render section="card" arguments="{person-item: person-item, settings:settings, oddEvenIterator:oddEvenIterator, className:className, view:'list'}"/>
</f:for>
</div>
<f:section name="card">
	<div class="stafflist-item{f:if(condition: oddEvenIterator.isEven, then: '')}{f:if(condition: oddEvenIterator.isOdd, then: ' alt')}">
		<f:if condition="{person-item.avatar} && {settings.showimages}">
		<div class="meta">
			<div class="photo" style="background-image: url({f:uri.image(src: '{person-item.avatar.Uid}', treatIdAsReference:1)})"></div>
		</div>
		</f:if>
		<div class="{f:if(condition: '{person-item.avatar} && {settings.showimages}', then: 'description', else: 'descriptionnophoto')}">
			<span class="stafflist-title"><f:render partial="Fields/List/Salutation" arguments="{person-item: person-item, settings:settings, space:0}"/> <f:render partial="Fields/List/Title" arguments="{person-item: person-item, settings:settings}"/></span>
			<f:if condition="{settings.linkNamesToSingleView}">
				<f:then><a href="#"><h3>{person-item.firstname} {person-item.lastname}</h3></a></f:then>
				<f:else><h3>{person-item.firstname} {person-item.lastname}</h3></f:else>
			</f:if>
			<p class="stafflist-title"><f:render partial="Fields/List/Function" arguments="{person-item: person-item, settings:settings}"/><f:render partial="Fields/List/Functions" arguments="{person-item: person-item, settings:settings}"/>
			<br/><f:render partial="Fields/List/Tasks" arguments="{person-item: person-item, settings:settings}"/>
			</p>
			<p><f:render partial="Fields/List/Teams" arguments="{person-item: person-item, settings:settings}"/></p>
			<p><f:render partial="Fields/List/Locations" arguments="{person-item: person-item, settings:settings}"/></p>
			<p><f:render partial="Fields/List/Building" arguments="{person-item: person-item, settings:settings}"/>  <f:render partial="Fields/List/Room" arguments="{person-item: person-item, settings:settings}"/></p>
			<p><f:render partial="Fields/List/OfficeHours" arguments="{person-item: person-item, settings:settings}"/></p>
			<f:render partial="Fields/List/Phone" arguments="{person-item: person-item, settings:settings}"/>
			<f:render partial="Fields/List/Mobile" arguments="{person-item: person-item, settings:settings}"/>
			<f:render partial="Fields/List/Fax" arguments="{person-item: person-item, settings:settings}"/>
			<f:render partial="Fields/List/Email" arguments="{person-item: person-item, settings:settings}"/>
			<p><f:render partial="Fields/List/InCompany" arguments="{person-item: person-item, settings:settings}"/></p>
			<f:render partial="Fields/List/Bio" arguments="{person-item: person-item, settings:settings}"/>
			<f:render partial="Fields/List/SocialLinks" arguments="{person-item:person-item, settings:settings}" />
			<f:if condition="{settings.doNotLinkToDetailView} == 0">
			<p class="read-more">
				<a href="#"><button class="stafflist-button"><f:translate key="tx_stafflist_list_readMore" /></button></a>
			</p>
		</f:if>
		</div>
	</div>
</f:section>
</html>
