<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="stafflist-card-grid">
	<f:for each="{persons}" as="person-item" iteration="iterator">
		<f:render section="card" arguments="{person-item: person-item, settings:settings, className:className, view:'list'}"/>
	</f:for>
</section>
</html>

<f:section name="card">
	<div class="stafflist-card">
		<div class="stafflist-card-inner">
			<div class="stafflist-card-header">
				<f:if condition="{person-item.avatar} && {settings.showimages}">
					<f:image image="{person-item.avatar.originalResource}" class="stafflist-image" alt="{person-item.firstname} {person-item.lastname}"/>
				</f:if>
			</div>
			<div class="stafflist-card-body">
				<p class="stafflist-title"><f:render partial="Fields/List/Salutation" arguments="{person-item: person-item, settings:settings, space:1}"/>
					<f:render partial="Fields/List/Title" arguments="{person-item: person-item, settings:settings}"/></p>
				<f:render partial="Fields/Fullname" arguments="{person-item: person-item, settings:settings}"/>
				<p class="stafflist-title"><f:render partial="Fields/List/Function" arguments="{person-item: person-item, settings:settings}"/><f:render partial="Fields/List/Functions" arguments="{person-item: person-item, settings:settings}"/>
			</div>
			<div class="stafflist-card-footer">
				<span class="stafflist-footer"><f:render partial="Fields/Button" arguments="{person-item: person-item, settings:settings}"/></span>
			</div>
		</div>
	</div>
</f:section>
