<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="social-buttons">
	<a href="{person-item.facebook}" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
    <span class="social-button__inner">
     f
    </span>
	</a>
	<a href="#" class="social-buttons__button social-button social-button--xing" aria-label="xing">
    <span class="social-button__inner">
     x
    </span>
	</a>
	<a href="{person-item.twitter}" class="social-buttons__button social-button social-button--twitter" aria-label="Twitter">
    <span class="social-button__inner">
     T
    </span>
	</a>
	<a href="{person-item.github}" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
    <span class="social-button__inner">
     git
    </span>
	</a>
	<a href="#" class="social-buttons__button social-button social-button--codepen" aria-label="CodePen">
    <span class="social-button__inner">
     <i class="fab fa-codepen"></i>
    </span>
	</a>
</div>
</html>
