<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.showSocialLinks}">
<div class="social-buttons">
	<f:if condition="{person-item.facebook}">
	<a href="{person-item.facebook}" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
    <span class="social-button__inner">
     <i class="fab fa-facebook-f"></i>
    </span>
	</a>
	</f:if>
	<f:if condition="{person-item.twitter}">
		<a href="{person-item.twitter}" class="social-buttons__button social-button social-button--twitter" aria-label="Twitter">
    <span class="social-button__inner">
     <i class="fab fa-twitter"></i>
    </span>
		</a>
	</f:if>
	<f:if condition="{person-item.instagram}">
		<a href="{person-item.instagram}" class="social-buttons__button social-button social-button--instagram" aria-label="Instagram">
    <span class="social-button__inner">
     <i class="fab fa-instagram"></i>
    </span>
		</a>
	</f:if>
	<f:if condition="{person-item.xing}">
	<a href="#" class="social-buttons__button social-button social-button--xing" aria-label="xing">
    <span class="social-button__inner">
    <i class="fab fa-xing"></i>
    </span>
	</a>
	</f:if>

	<f:if condition="{person-item.github}">
	<a href="{person-item.github}" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
    <span class="social-button__inner">
    <i class="fab fa-github"></i>
    </span>
	</a></f:if>
	<f:if condition="{person-item.instagram}">
	<a href="#" class="social-buttons__button social-button social-button--gitlab" aria-label="Gitlab">
    <span class="social-button__inner">
    <i class="fab fa-gitlab"></i>
    </span>
	</a>
	</f:if>
</div>
</f:if>
</html>
