/* Stafflist card grid and image gris */
.stafflist-row {
	display: -webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden;
}

/* Three columns side by side */
.stafflist-column {
	flex: 1;
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
	display: -webkit-flex; display: -ms-flexbox; display: flex; overflow: hidden;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
	.stafflist-column {
		width: 100%;
		display: block;
	}
}

.stafflist-card {
	border: 1px solid #b9b9b9;
	border-radius: 5px;
	flex: 1;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
}
.stafflist-footer {
	overflow: hidden;
	position: absolute;
	bottom: 5%;
	padding: 0 5%;
}
.tx-stafflist h2{
	font-size: 24px;
	margin: 0 0 0 0;
}
.tx-stafflist .stafflist-title{
	font-size: 18px;
	color: grey;
	margin: 0 0 0 0;
}
/* Some left and right padding inside the container */
.stafflist-container {
	padding: 16px 16px 0 16px;
}

/* Clear floats */
.stafflist-container::after, .stafflist-row::after {
	content: "";
	clear: both;
	display: table;
}
.stafflist-image{
	width: 100%;
	max-height: 260px;
	object-fit: cover;
}

.stafflist-title {
	color: grey;
	margin: 16px 0 16px 0;
}

.stafflist-button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

.stafflist-button:hover {
	background-color: #555;
}

/* Stafflist Person_list */
.stafflist-item {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
	margin-bottom: 1.6%;
	background: #fff;
	line-height: 1.4;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: hidden;
	z-index: 0;
}

.stafflist-item .meta {
	position: relative;
	z-index: 0;
	height: 200px;
}
.stafflist-item .photo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	transition: transform 0.2s;
}

.stafflist-item .description {
	padding: 1rem;
	background: #fff;
	position: relative;
	z-index: 1;
}
.stafflist-item .descriptionnophoto {
	padding: 1rem;
	background: #fff;
	position: relative;
	z-index: 1;
}

.stafflist-item .description h2 {
	font-size: 24px;
	font-weight: 300;
	margin-top: 5px;
}

.stafflist-item .descriptionnophoto h2 {
	font-size: 24px;
	font-weight: 300;
	margin-top: 5px;
}
.stafflist-item .description .read-more {
	text-align: right;
}

.stafflist-item .description .read-more a {
	display: inline-block;
	position: relative;
}

.stafflist-item .description .read-more a:hover:after {
	margin-left: 5px;
	opacity: 1;
}
.stafflist-item .descriptionnophoto .read-more {
	text-align: left;
}

.stafflist-item .descriptionnophoto .read-more a {
	display: inline-block;
	position: relative;
}

.stafflist-item .descriptionnophoto .read-more a:hover:after {
	margin-left: 5px;
	opacity: 1;
}
.stafflist-item p {
	position: relative;
	margin: 1rem 0 0;
}
.stafflist-item p:first-of-type {
	margin-top: 1.25rem;
}
/*.stafflist-item p:first-of-type:before {
	content: "";
	position: absolute;
	height: 5px;
	background: #5ad67d;
	width: 35px;
	top: -0.75rem;
	border-radius: 3px;
}
.stafflist-item:hover .details {
	left: 0%;
} */
@media (min-width: 640px) {
	.stafflist-item {
		flex-direction: row;
		max-width: 700px;
	}
	.stafflist-item .meta {
		flex-basis: 40%;
		height: auto;
	}
	.stafflist-item .description {
		flex-basis: 60%;
	}
	.stafflist-item .descriptionnophoto {
		flex-basis: 100%;
	}
	.stafflist-listitem .descriptionnophoto:before {
		content: "";
		background: #fff;
		width: 30px;
		position: absolute;
		left: -10px;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.stafflist-item .description:before {
		content: "";
		background: #fff;
		width: 30px;
		position: absolute;
		left: -10px;
		top: 0;
		bottom: 0;
		z-index: -1;
	}
	.stafflist-item.alt {
		flex-direction: row-reverse;
	}
	.stafflist-item.alt .description:before {
		left: inherit;
		right: -10px;
	}
	.stafflist-item.alt .description .read-more {
		text-align: left;
	}
	/* Social Links */
	.social-buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		/*margin-top: -10px;*/
	}
	.social-buttons__button {
		margin: 20px 5px 0;
	}
	.social-button {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		outline: none;
		width: 40px;
		height: 40px;
		text-decoration: none;
	}
	.social-button__inner {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		border-radius: 100%;
		background: #fff;
		text-align: center;
	}
	.social-button i, .social-button svg {
		position: relative;
		z-index: 1;
		transition: 0.3s;
	}
	.social-button i {
		font-size: 28px;
	}
	.social-button svg {
		height: 40%;
		width: 40%;
	}
	.social-button::after {
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		width: 0;
		height: 0;
		border-radius: 100%;
		transition: 0.3s;
	}
	.social-button:focus, .social-button:hover {
		color: #fff;
	}
	.social-button:focus::after, .social-button:hover::after {
		width: 100%;
		height: 100%;
		margin-left: -50%;
	}
	.social-button--mail {
		color: #0072c6;
	}
	.social-button--mail::after {
		background: #0072c6;
	}
	.social-button--facebook {
		color: #3b5999;
	}
	.social-button--facebook::after {
		background: #3b5999;
	}
	.social-button--xing {
		color: #0077b5;
	}
	.social-button--xing::after {
		background: #0077b5;
	}
	.social-button--github {
		color: #6e5494;
	}
	.social-button--github::after {
		background: #6e5494;
	}
	.social-button--codepen {
		color: #212121;
	}
	.social-button--codepen::after {
		background: #212121;
	}
	.social-button--steam {
		color: #7da10e;
	}
	.social-button--steam::after {
		background: #7da10e;
	}
	.social-button--snapchat {
		color: #eec900;
	}
	.social-button--snapchat::after {
		background: #eec900;
	}
	.social-button--twitter {
		color: #55acee;
	}
	.social-button--twitter::after {
		background: #55acee;
	}
	.social-button--instagram {
		color: #e4405f;
	}
	.social-button--instagram::after {
		background: #e4405f;
	}
	.social-button--npmjs {
		color: #c12127;
	}
	.social-button--npmjs::after {
		background: #c12127;
	}
}
