<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{settings.linkNamesToSingleView}">
	<f:then>
		<f:if condition="{settings.detailPage}">
			<f:then>
				<f:link.page pageUid="{settings.detailPage}" additionalParams="{tx_stafflist_personlist: {persons:person-item.uid}}">{person-item.firstname} {person-item.lastname}</f:link.page>
			</f:then>
			<f:else>
				<f:link.action action="detailView" arguments="{persons:person-item}">{person-item.firstname} {person-item.lastname}</f:link.action>
			</f:else>
		</f:if>
	</f:then>
	<f:else>{person-item.firstname} {person-item.lastname}</f:else>
</f:if>
</html>
