<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
    	<div class="stafflist-singleView">
			<div class="stafflist-sv-name">
				<f:render partial="Fields/List/Salutation" arguments="{person-item: person-item, settings:settings, space:1}"/>
				<f:render partial="Fields/List/Title" arguments="{person-item: person-item, settings:settings}"/>
				<f:render partial="Fields/Fullname" arguments="{person-item: person-item, settings:settings}"/>
			</div>
			<div class="stafflist-line" ></div>
		</div>
		<div class="stafflist-profile-card-grid"  >
			<div  class="stafflist-col-left" >
				<div class="stafflist-sv-image"  ><f:if condition="{person-item.avatar} && {settings.showimages}">
					<f:image image="{person-item.avatar.originalResource}" class="stafflist-sv-image" alt="{person-item.firstname} {person-item.lastname}"/>
				</f:if></div>
    </div>
    <div class="stafflist-col-right">
        <div class="test" >
			<f:render partial="Fields/List/Function" arguments="{person-item: person-item, settings:settings}"/><f:render partial="Fields/List/Functions" arguments="{person-item: person-item, settings:settings}"/>
			<p><f:render partial="Fields/List/Teams" arguments="{person-item: person-item, settings:settings}"/></p>
			<p><f:render partial="Fields/List/Locations" arguments="{person-item: person-item, settings:settings}"/></p>
			<p><f:render partial="Fields/List/Building" arguments="{person-item: person-item, settings:settings}"/>  <f:render partial="Fields/List/Room" arguments="{person-item: person-item, settings:settings}"/></p>
			<p><f:render partial="Fields/List/OfficeHours" arguments="{person-item: person-item, settings:settings}"/></p>
			<f:render partial="Fields/List/Phone" arguments="{person-item: person-item, settings:settings}"/>
			<f:render partial="Fields/List/Mobile" arguments="{person-item: person-item, settings:settings}"/>
			<f:render partial="Fields/List/Fax" arguments="{person-item: person-item, settings:settings}"/>
			<f:render partial="Fields/List/Email" arguments="{person-item: person-item, settings:settings}"/>
			<p><f:render partial="Fields/List/InCompany" arguments="{person-item: person-item, settings:settings}"/></p>
            <div class="" >
				<f:render partial="Fields/List/SocialLinks" arguments="{person-item:person-item, settings:settings}" />
				</div>
			</div>
		</div>
		</div>
		<div class="stafflist-sv-bio">
			<div class="" >
				<f:render partial="Fields/List/Bio" arguments="{person-item: person-item, settings:settings}"/>
			</div>
		</div>
<f:if condition="{settings.disableBackLink}">
	<f:then></f:then>
	<f:else>
		<f:link.external uri="javascript:history.back()"><button class="stafflist-backlink">external link</button></f:link.external>
	</f:else>
</f:if>
	</f:section>
</html>
