<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
            <f:debug>{person}</f:debug>
    	<table  class="tx_stafflist" >
			<tr>
				<th><f:translate key="tx_stafflist_domain_model_persons.lastname" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.firstname" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.title" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.salutation" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.avatar" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.function" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.tasks" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.incompany" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.building" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.room" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.phone" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.mobile" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.fax" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.email" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.officehours" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.bio" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.twitter" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.facebook" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.instagram" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.xing" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.github" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.gitlab" /></th>
				<th> </th>
				<th> </th>
			</tr>
<tr>
					<td>{person.lastname}</td>
					<td>{person.firstname}</td>
					<td>{person.title}</td>
					<td>{person.salutation}</td>
					<td>{person.avatar.originalResource.name}</td>
					<td>{person.function}</td>
					<td>{person.tasks}</td>
					<td>{person.incompany -> f:format.date()}</td>
					<td>{person.building}</td>
					<td>{person.room}</td>
					<td>{person.phone}</td>
					<td>{person.mobile}</td>
					<td>{person.fax}</td>
					<td>{person.email}</td>
					<td>{person.officehours}</td>
					<td>{person.bio}</td>
					<td>{person.twitter}</td>
					<td>{person.facebook}</td>
					<td>{person.instagram}</td>
					<td>{person.xing}</td>
					<td>{person.github}</td>
					<td>{person.gitlab}</td>
				</tr>
                	</table>
	</f:section>
</html>
