<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
<f:if condition="{persons}">
	<f:then>
		<f:render partial="List/Person_{settings.liststyle}" arguments="{persons: persons, settings:settings, className:className, view:'list'}"/>
	</f:then>
	<f:else>
		<f:translate key="tx_stafflist_list_nopersonsfound" />
	</f:else>
</f:if>

		<!--h1>Listing for Persons</h1>
 fhfghfghfghfgh
		<f:link.page pageUid="{settings.detailPage}" additionalParams="{tx_stafflist_personlist: {persons:persons.uid}}">LINK</f:link.page>
		<table  class="tx_stafflist" >
			<tr>
				<th><f:translate key="tx_stafflist_domain_model_persons.lastname" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.firstname" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.title" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.salutation" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.avatar" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.function" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.tasks" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.incompany" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.building" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.room" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.phone" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.mobile" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.fax" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.email" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.officehours" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.bio" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.twitter" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.facebook" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.instagram" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.xing" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.github" /></th>
				<th><f:translate key="tx_stafflist_domain_model_persons.gitlab" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{persons}" as="person">
				<tr>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.lastname}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.firstname}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.title}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.salutation}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.avatar.originalResource.name}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.function}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.tasks}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.incompany -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.building}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.room}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.phone}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.mobile}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.fax}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.email}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.officehours}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.bio}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.twitter}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.facebook}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.instagram}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.xing}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.github}</f:link.action></td>
					<td><f:link.action action="detailView" arguments="{persons : person}"> {person.gitlab}</f:link.action></td>
				</tr>
			</f:for>
		</table-->
	</f:section>
</html>
